In [1]:
import pandas as pd
import numpy as np
import plotly.express as px

In [2]:
df_bbidding = pd.read_csv('solar_bidding.csv')
df_day_ahead = pd.read_csv('D:/Users/paulh/Desktop/Domäneprojekt2/Energy_production_price_prediction/basic_files/day_ahead_price.csv')
df_imbalance = pd.read_csv('D:/Users/paulh/Desktop/Domäneprojekt2/Energy_production_price_prediction/basic_files/imbalance_price.csv')

In [6]:
df_day_ahead

              timestamp_utc settlement_date  settlement_period  price
0      2020-09-19T22:00:00Z      2020-09-19                 47  34.62
1      2020-09-19T22:30:00Z      2020-09-19                 48  34.62
2      2020-09-19T23:00:00Z      2020-09-20                  1  33.08
3      2020-09-19T23:30:00Z      2020-09-20                  2  33.08
4      2020-09-20T00:00:00Z      2020-09-20                  3  32.17
...                     ...             ...                ...    ...
71131  2024-10-10T19:30:00Z      2024-10-10                 42  82.15
71132  2024-10-10T20:00:00Z      2024-10-10                 43  79.14
71133  2024-10-10T20:30:00Z      2024-10-10                 44  79.14
71134  2024-10-10T21:00:00Z      2024-10-10                 45  91.45
71135  2024-10-10T21:30:00Z      2024-10-10                 46  91.45

[71136 rows x 4 columns]

In [5]:
df_imbalance

,timestamp_utc,settlement_date,settlement_period,imbalance_price
0,2021-02-19T23:00:00Z,2021-02-19,47,32.75
1,2021-02-19T23:30:00Z,2021-02-19,48,62.50
2,2021-02-20T00:00:00Z,2021-02-20,1,32.27
3,2021-02-20T00:30:00Z,2021-02-20,2,68.90
4,2021-02-20T01:00:00Z,2021-02-20,3,70.50
...,...,...,...,...
63906,2024-10-13T05:00:00Z,2024-10-13,13,-20.63
63907,2024-10-13T05:30:00Z,2024-10-13,14,-20.63
63908,2024-10-13T06:00:00Z,2024-10-13,15,-20.63
63909,2024-10-13T06:30:00Z,2024-10-13,16,105.00
63910,2024-10-13T07:00:00Z,2024-10-13,17,111.00

In [3]:
df_bbidding

,timestamp_utc,generation_mw,installed_capacity_mwp,capacity_mwp,valid_time,reference_time,CloudCover_Point0_dwd,CloudCover_Point1_dwd,CloudCover_Point2_dwd,CloudCover_Point3_dwd,...,capacity_mwp_lag_48h,quantile_0,quantile_1,quantile_2,quantile_3,quantile_4,quantile_5,quantile_6,quantile_7,quantile_8
0,2020-09-22 00:00:00+00:00,0.0,2228.496248,2130.736060,2020-09-22 00:00:00+00:00,2020-09-22 00:00:00+00:00,0.190547,0.000000,0.611543,0.369355,...,2130.749758,-0.000008,5.672555e-07,-0.000016,-0.000009,6.167706e-06,0.001416,0.008123,0.034051,0.080368
1,2020-09-22 00:30:00+00:00,0.0,2228.496248,2130.736060,2020-09-22 00:30:00+00:00,2020-09-22 00:00:00+00:00,0.216504,0.000000,0.596230,0.392988,...,2130.749758,-0.000008,5.819948e-07,-0.000016,-0.000009,6.170514e-06,0.001417,0.008127,0.034068,0.080413
2,2020-09-22 01:00:00+00:00,0.0,2228.496248,2130.736060,2020-09-22 01:00:00+00:00,2020-09-22 00:00:00+00:00,0.242461,0.000000,0.580918,0.416621,...,2130.749758,-0.000008,3.674959e-07,-0.000016,-0.000009,5.131195e-06,0.001322,0.007731,0.033043,0.078999
3,2020-09-22 01:30:00+00:00,0.0,2228.496248,2130.736060,2020-09-22 01:30:00+00:00,2020-09-22 00:00:00+00:00,0.335879,0.136621,0.564258,0.486113,...,2130.749758,-0.000008,3.944788e-07,-0.000016,-0.000009,5.166425e-06,0.001325,0.007746,0.033093,0.079089
4,2020-09-22 02:00:00+00:00,0.0,2228.496248,2130.736060,2020-09-22 02:00:00+00:00,2020-09-22 00:00:00+00:00,0.429297,0.273242,0.547598,0.555605,...,2130.749758,-0.000007,-6.056016e-07,-0.000018,-0.000011,9.188516e-07,0.000917,0.006030,0.028607,0.072666
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50026,2023-08-25 23:30:00+00:00,0.0,2606.931189,2454.550187,2023-08-25 23:30:00+00:00,2023-08-24 00:00:00+00:00,0.912051,0.548457,0.567803,0.406289,...,2454.186979,-0.000007,-1.928082e-06,-0.000021,-0.000014,-2.879475e-06,0.000625,0.004805,0.025202,0.068374
50027,2023-08-26 00:00:00+00:00,0.0,2606.931189,2454.550187,2023-08-26 00:00:00+00:00,2023-08-24 00:00:00+00:00,0.897656,0.611582,0.493672,0.379238,...,2454.186979,-0.000007,-1.497525e-06,-0.000020,-0.000013,-1.872395e-06,0.000776,0.005437,0.026791,0.070508
50028,2023-08-26 00:30:00+00:00,0.0,2606.931189,2454.550187,2023-08-26 00:30:00+00:00,2023-08-24 00:00:00+00:00,0.901221,0.755117,0.433037,0.254766,...,2454.186979,-0.000007,-1.619172e-06,-0.000020,-0.000013,-2.173139e-06,0.000736,0.005265,0.026326,0.069736
50029,2023-08-26 01:00:00+00:00,0.0,2606.931189,2454.550187,2023-08-26 01:00:00+00:00,2023-08-24 00:00:00+00:00,0.904785,0.898652,0.372402,0.130293,...,2454.186979,-0.000007,-2.332516e-06,-0.000021,-0.000014,-3.972309e-06,0.000505,0.004283,0.023753,0.065928
50030,2023-08-26 01:30:00+00:00,0.0,2606.931189,2454.550187,2023-08-26 01:30:00+00:00,2023-08-24 00:00:00+00:00,0.895713,0.860498,0.279141,0.065146,...,2454.186979,-0.000007,-2.452809e-06,-0.000021,-0.000015,-4.267800e-06,0.000471,0.004137,0.023359,0.065310

In [3]:
df_bbidding['timestamp_utc'] = pd.to_datetime(df_bbidding['timestamp_utc'])
df_day_ahead['timestamp_utc'] = pd.to_datetime(df_day_ahead['timestamp_utc'])
df_imbalance['timestamp_utc'] = pd.to_datetime(df_imbalance['timestamp_utc'])

In [5]:
result = df_bbidding.merge(df_day_ahead, on='timestamp_utc', how='inner', suffixes=('_bbidding', '_day_ahead'))
result = result.merge(df_imbalance, on='timestamp_utc', how='inner', suffixes=('', '_imbalance'))

In [10]:
result.imbalance_price

0        32.75
1        62.50
2        32.27
3        68.90
4        70.50
         ...
42809    66.01
42810    66.01
42811    66.01
42812    66.01
42813    66.01
Name: imbalance_price, Length: 42814, dtype: float64

In [ ]:
df_bbidding.columns.to_list()

Quantile

In [8]:
def Value_calculator(Real_value,bid,imbalance,day_ahead):
    Revenue = bid*day_ahead +(Real_value-bid)*imbalance
    return np.mean(Revenue)

In [11]:
quantiles = ["quantile_0","quantile_1","quantile_2","quantile_3","quantile_4","quantile_5","quantile_6","quantile_7","quantile_8"]
Revenue = []
for i in quantiles:
    Revenue.append(Value_calculator(result["Solar_MWh_credit"],result[i],result["imbalance_price"],result["price"]))

In [12]:
Revenue

[17678.065502705973,
 17761.467307058454,
 17818.87789210751,
 17864.654886340366,
 17906.182712271337,
 17947.770259132223,
 17992.756566419466,
 18045.685351896656,
 18129.739720575395]

monte carlo:

In [ ]:
import numpy as np

# Define revenue calculation function
def calculate_revenue(trade, actual, DAP, SSP):
    return trade * DAP + (actual - trade) * (SSP - 0.07 * (actual - trade))

# Monte Carlo simulation to estimate expected revenue
def monte_carlo_simulation(trade_values, actual_distribution, DAP, SSP, num_samples=1000):
    expected_revenue = []
    
    # Sample from the probabilistic distribution (Monte Carlo simulation)
    sampled_actuals = actual_distribution(num_samples)
    
    for trade in trade_values:
        # Calculate revenue for each sample and trade value
        revenues = [calculate_revenue(trade, actual, DAP, SSP) for actual in sampled_actuals]
        # Store the average expected revenue for this trade value
        expected_revenue.append(np.mean(revenues))
    
    return trade_values, expected_revenue

# Example usage
# Define input values (these would be dynamic in practice)
DAP = 50  # Day-Ahead Price
SSP = 45  # System Sell Price

# Generate probabilistic forecast (e.g., Normal distribution with mean and std dev from your forecast)
actual_mean = 100  # Assume mean production is 100 MWh
actual_std = 10    # Assume a standard deviation of 10 MWh
actual_distribution = lambda n: np.random.normal(actual_mean, actual_std, n)

# Define the range of Trade values to evaluate
trade_values = np.linspace(80, 120, 50)  # Evaluate Trade between 80 and 120 MWh

# Run Monte Carlo simulation
trade_values, expected_revenues = monte_carlo_simulation(trade_values, actual_distribution, DAP, SSP)

# Find the optimal trade value that maximizes expected revenue
optimal_trade = trade_values[np.argmax(expected_revenues)]

print(f"Optimal Trade Value: {optimal_trade} MWh")

1. Dynamic Programming Approach

In [ ]:
for t in range(T-1, -1, -1):  # Start at last time step, move backwards
    for s in state_space:  # For each state in the state space
        max_value = -inf
        for a in action_space:  # For each possible trade action
            next_state = transition_function(s, a)
            immediate_reward = revenue(s, a)
            future_value = gamma * V[next_state]  # Discounted future value
            total_value = immediate_reward + future_value
            if total_value > max_value:
                max_value = total_value
                best_action[s] = a  # Store the best action for state s
        V[s] = max_value